{% extends 'base/base.html' %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}


{% block content %}
    <div class="form-container">
        <h1>Login Form</h1>
        <form action="{% url 'login' %}" method="post">
            {{ form }}
            {% csrf_token %}
            <button>Login</button>
            <p class="extra-form-msg">* If you don't have profile, register <a href="{% url 'register' %}">here</a>.</p>
        </form>
    </div>
{% endblock %}