.movie-card{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    background: #0c0c0c;
    color: #f5c518;
    margin: 60px auto;
    padding: 0;
    width: 480px;
}

.card-info{
    display: block;
    padding: 5px 20px;
}

.card-info a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.movie-details a{
    font-size: 32px;
    letter-spacing: 1px;
    color: #f5c518;
}


.card-img {
    width: 180px;
}

img.card-img:hover{
    cursor: pointer;
}

.hello-message{
    color: #f5c518;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
}

.confirm-actions {
    text-align: center;
    margin: 20px auto;
}

.btn {
    border: 1px solid  #f5c518;
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
    background: #f5c518;
    margin-right: 10px;
}

.btn-link {
    text-decoration: none;
    color: white;
    border: 1px solid #f5c518;
    border-radius: 8px;
    font-size: 20px;
    padding: 0 8px;
}