body {
    margin: 0;
    padding: 0;
    background: #000;
}

.container-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 50px 50px 50px;
    justify-content: center;
    padding: 10px;
}

.movie-card{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    background: #0c0c0c;
    color: #f5c518;
    margin: 15px;
    padding: 0;
    width: 480px;
}

.card-info{
    display: block;
    padding: 5px 20px;
}

.card-info a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.movie-details a{
    font-size: 32px;
    letter-spacing: 1px;
    color: #f5c518;
}

.movie-details a:hover{
    font-weight: bold;
}


.card-img {
    width: 180px;
}

img.card-img:hover{
    cursor: pointer;
}

.hello-message{
    color: #f5c518;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
}


.hello-message a{
    display: inline-block;
    background: #f5c518;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    border: 2px solid white;
    width: 160px;
    border-radius: 3px;
}
