{% extends 'base/base.html' %}
{% load static %}


{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}


{% block content %}
    <ul class="container-gallery">

        {% for movie in movies %}
            <li class="movie-card">
                <img class="card-img" src="{{ movie.image }}" alt="movie image">
                <div class="card-info">
                    <p class="movie-details"><a href="">{{ movie.movie_title }}</a></p>
                    <p>{{ movie.category }}</p>
                    <a href="{{ movie.trailer }}" target="_blank"><i class="fas fa-play-circle"></i></a>
                </div>

            </li>
        {% endfor %}

    </ul>


{% endblock %}